* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

html,
body {
	min-width: 100vw;
	min-height: 100vh;
	background-color: #f9f5ed;
}

main {
	margin: 0% 10em;

	nav {
		display: flex;
		// min-width: 40%;
		flex-wrap: wrap;
		min-height: 16vh;
		align-items: center;
		ul {
			width: 36%;
			display: flex;
			list-style: none;
			align-items: center;
			justify-content: space-between;
			font-size: 1.2rem;
			font-weight: 600;
		}
	}

	.hero {
		display: grid;
		grid-template-columns: 4fr 6fr;
		align-items: center;
		min-height: 84vh;

		// display: flex;
		// justify-content: space-between;
		// align-items: flex-start;
		.left {
			height: 32vh;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			list-style: none;

			h1 {
				font-size: 4rem;
			}

			button {
				min-height: fit-content;
				width: fit-content;
				padding: 2% 4%;
				border-radius: 0.4em;
				border: none;
				color: white;
				font-size: 1.2rem;
				background-color: #3b855b;
			}
		}

		.right {
			display: flex;
			margin-left: 8em;
			flex-wrap: wrap;
			width: min-content;
			// background-color: #3a4a5b;
			// align-items: baseline;
			// justify-content: space-around;

			.one {
				margin-bottom: 1.5em;
			}
			.two {
				margin-bottom: 1.5em;
				margin-left: 1.5em;
			}
		}
	}
}
